* {
  margin: 0;
}

body {
  font-family: "Roboto", serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
}

h1 {
  font-size: 2.5rem;
}

.about,
.work,
.contact {
  max-width: 1024px;
  margin: 0 auto;
}

.about-container {
  background: linear-gradient(170deg, #418fae 70%, #ffffff 30%);
}

.contact-container {
  background-color: #418fae;
}

.about {
  padding: 50px;
  align-items: center;
  display: flex;
}

.imageContainer {
  position: relative;
}

.aboutImage {
  width: 350px;
  height: 400px;
  object-fit: cover;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.aboutName {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 1px 1px 0px #000000;
  white-space: nowrap;
}

.aboutInfo {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.cardSocials {
  display: flex;
  gap: 20px;
  align-self: flex-end;
}

.work {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 200px;
  background-color: brown;
}

.card-info {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 50px;
  gap: 10px;
}

.card-info > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-info > p {
  line-height: 1;
  color: #808080;
  font-size: 0.9rem;
}

.card-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact {
  display: flex;
  padding: 50px;
  gap: 50px;
  color: #ffffff;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.iconInfo {
  display: flex;
  gap: 10px;
}

.contactImage {
  object-fit: cover;
  object-position: 75% 25%;
  width: 900px;
  height: 400px;
}

i {
  font-size: 1.5rem;
  color: #000000;
  cursor: pointer;
}

.phone,
.mail,
.openInNew {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.5rem;
  height: 1.5rem;
}

.phone {
  background-image: url(images/call_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg);
}

.mail {
  background-image: url(images/mail_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg);
}

.openInNew {
  background-image: url(images/open_in_new_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg);
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .about,
  .work,
  .contact {
    padding: 50px 80px;
  }

  .aboutImage {
    /* display: none; */
  }

  .cardSocials {
    display: none;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }

  .contactImage {
    width: 300px;
  }

  .contact i,
  .cardSocials i {
    font-size: 2rem;
  }

  .mobcenter {
    gap: 30px;
  }
}

@media (max-width: 425px) {
  .about,
  .work {
    padding: 20px;
  }

  h2 {
    text-align: center;
    font-size: 2.5rem;
  }

  .about-container {
    background: linear-gradient(150deg, #418fae 50%, #ffffff 50%);
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .aboutImage {
    width: 80vw;
    height: 500px;
  }

  .aboutInfo {
    background-color: transparent;
    box-shadow: none;
    height: auto;
    gap: 20px;
    padding: 0;
  }

  .cardSocials {
    display: flex;
    align-self: center;
    gap: 40px;
  }

  .contact {
    padding: 0;
  }
  .card-container {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .contact {
    flex-direction: column;
  }

  .contactInfo {
    padding: 20px;
  }

  .mobzoom {
    font-size: 1.5rem;
  }

  .iconInfo > div {
    display: none;
  }

  .mobcenter {
    justify-content: center;
    gap: 40px;
  }

  .contact i,
  .cardSocials i {
    font-size: 2.5rem;
  }

  .contactImage {
    width: 100vw;
    height: 500px;
  }
}
